/* ----- Base ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    background-color: rgb(31, 42, 46);
}

body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 2em;
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navigation {
    width: 20em;
    display: flex;
    justify-content: space-around;
}

.navigation>a {
    font-size: large;
    color: rgb(185, 185, 185);

}

.navigation>a:hover {
    color: rgba(207, 206, 206, 0.356);
}

.this-side,
#this-side {
    font-weight: bolder;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 17em;
}

.logo {
    margin-top: 2em;
    width: auto;
    height: 211px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo>a {
    height: 90px;
    color: rgb(192, 104, 3);
    font-size: 80px;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #blinking-logo {
    animation: blink 2s infinite;
  }

.logo>a:hover {
    color: rgba(153, 83, 2, 0.603);
    font-size: 90px;
}

.webbdeveloper--div {
    color: rgb(185, 185, 185);
    font-size: xx-large;
    margin: 20px 0 20px 0;
}

.presentation {
    text-align: center;
    height: 60px;
    width: 80%;
    color: rgb(185, 185, 185);
    margin-bottom: 20px;
}

.presentation>p {
    margin-bottom: 1em;
}

footer {
    height: 10em;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    padding: 2em;
}

.address--div,
.address--div>a {
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(185, 185, 185);
    z-index: 9999;
}

.address--div>.phone>a:hover {
    color: rgba(207, 206, 206, 0.356);
}

.phone {
    margin-bottom: 5px;
}

.address--div>.phone>a {
    color: rgb(185, 185, 185);
}

.icon--div {
    width: 15em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.icon--div>a {
    display: flex;
    justify-content: center;
    width: 30px;
    font-size: 200%;
    color: rgba(207, 206, 206, 0.356);
}

.icon--div>a:hover {
    font-size: 300%;
    color: rgb(185, 185, 185);
    
}

/* ----- cv ----- */
iframe {
    width: 100vw;
    height: 100vh;

}

.pdf-light {
    margin: 1em;
    font-size: 200%;
    color: rgb(185, 185, 185);
}

/* ----- about me ----- */

.portrait {
    width: 50%;
    height: 50%;
    margin: 3em;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 25px;
}

.funFact {
    color: rgb(185, 185, 185);
    padding: 10em;
}

.funFact>h3 {
    margin-bottom: 1em;
}

.funFact>p {
    text-align: center;
}

/* ----- posts ----- */

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posts>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    min-width: 300px;
    max-width: 70%;
    height: auto;
    padding: 1em;
    border: 1px rgb(185, 185, 185) solid;
    color: rgb(185, 185, 185);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}

section>a,
p {
    text-align: center;
}

section>a>img {
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    width: 60%;
    margin: 1em;

}

section:hover {
    box-shadow: 0 0 30px 0 rgb(88, 88, 88);
}

.read-more-btn {
    border: none;
    color: rgb(238, 238, 238);
}

.read-more-btn:hover {
    color: rgb(162, 177, 155);
}

.hidden-text {
    display: none;
}

.stars {
    margin-top: 2em;
}

@media only screen and (max-width: 890px) {
    .experience {
        margin-top: 4em;
    }
}







@media only screen and (max-width: 800px) {
    * {
        flex-direction: column;
    }

    header {
        align-items: center;
        height: 50px;
    }

    .navigation {
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 230px;
    }

    .logo>* {
        margin-top: 20px;
    }


    /* -----About me----- */

    .portrait {
        margin: 1em 0 0 0;
    }

    .funFact {
        padding: 3em;
    }


    footer {
        flex-direction: row;
        height: 160px;
        padding: 0 1em 0 1em;
        align-items: center;
        width: 100vw;
        position: unset;
    }

    .address--div {
        height: 100px;
    }

    .icon--div {
        flex-direction: column;
        height: 150px;
        width: 7em;
    }

    .icon--div>a {
        text-align: center;
        width: 50px;
        height: 136px;
        font-size: 250%;
    }

}
